html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  font-family: "Nunito Sans", sans-serif, "Spartan";
}

body {
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
}

.light__mode--background {
  background-color: hsl(0, 0%, 98%);
}

.country-name {
  color: hsl(200, 15%, 8%);
  text-decoration: none;
}
.mode-toggler {
  color: hsl(200, 15%, 8%);
  margin-left: 5px;
}

.search-tab {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

form {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
.dropdown {
  flex: 0 0 50%;
  justify-items: flex-start;
  justify-self: flex-start;
  width: 100%;
  margin-left: -90px;
  border: none;
  background-color: white;
  border-radius: 5px;
  height: 50px;
  padding: 0 10px;
}

select::-ms-expand {
  border: none;
  background-color: white;
}

.input-country {
  flex: 0 0 80%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 0 auto 30px;
  justify-self: center;
  
}

.input-div {
  display: flex;
  background-color: white;
  width: 80%;
  height: 63%;
  border-radius: 5px;
  border: none;
  justify-content: center;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
  margin: 0px 15px 0 80px;
}

.icon-search {
  color: grey;
  margin: 15px 15px 0 -60px;
}
.input-tab {
  width: 100%;
  margin-left: 10px;
  border: none;
}

.country-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.country-flag {
  width: 80%;
  /*height: 300px;*/
  max-height: 28rem;
  margin: 30px ;
}

.country-bottom {
  width: 80%;
  margin: 0 auto;
}

.top {
  color: hsl(200, 15%, 8%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 30px;
  background-color: white;
}

.country-card {
  background-color: white;
  width: 80%;
  height: 380px;
  border-radius: 10px;
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: hsl(200, 15%, 8%);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.country-img {
  object-fit: cover;
  object-position: center center;
  justify-self: stretch;
  width: 100%;
  height: 160px;
  flex: 0 0 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country-details {
  margin-left: 30px;
}
.p-tag {
  margin-bottom: 0;
}
.font-bold {
  font-weight: bold;
}

.arrow-left {
  margin-right: 10px;
}

.country {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.back {
  width: 100%;
  margin: 0;
}
.back-button {  
  background-color: white;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  margin: 4rem 0;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: 40px;
}

/* div [class^="country-description-"] {
  flex: 0 0 90%;
  justify-self: flex-start;
} */
.back-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.country {
  display: flex;
  flex: row nowrap;
}

.country-description-1 {
  margin: 30px auto;
}

.country-description-2 {
  margin: 30px auto;
}
.border-group {
  margin: 20px 0;
}
.border-name {
  margin: 7px 5px;
  padding: 6px 15px;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 1px 5px 5px grey;
}
@media only screen and (min-width: 800px) {
  .countries {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .country-card {
    flex: 0 0 20%;
    margin: 30px 2%;
  }
  .input-tab {
    width: 100%;
    margin-left: 10px;
    border: none;
  }
  .search-tab {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  form {
    flex: 0 0 50%;
    margin: 0;
  }

  .input-country {
    margin: 0;
    
  }

  .input-div {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .dropdown {
    flex: 0 0 15%;
    height: 50px;
    margin-right: 120px;
    padding: 0 20px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
    
  }

  .country {
    display: flex;
    flex: row nowrap;
  }

  .country-body {
    display: flex;
    flex-flow: row wrap;
  }

  .country-bottom {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 50%;
  }

  .border-country {
    flex: 0 0 100%;
    justify-self: center;
    margin-left: 60px;
  }
  .border-group {
    display: inline;
    margin: 0;
  }

  .country-flag {
    flex: 0 0 40%;
    width: 30%;
  }

  .country-description-2 {
    margin-top: 80px;
  }
}